**ЗАДАНИЕ 1**

Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].
Выведите все элементы, которые меньше 5.
Предоставьте два варианта решения: с помощью функции filter() и с помощью спискового включения.

In [ ]:
#способ 1 (фильтр)
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] 
print(*filter(lambda x: x < 5, a))

1 1 2 3

In [ ]:
#способ 2 (списковое включение)
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] 
print([elem for elem in a if elem < 5])

[1, 1, 2, 3]

**ЗАДАНИЕ 2**

Даны списки:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].
Нужно вернуть список, который состоит из элементов, общих для этих двух списков.
Предоставьте два варианта решения: с помощью функции filter() и с помощью
спискового включения.

In [ ]:
#способ 1 (фильтр)
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(*filter(lambda elem: elem in b, a))

1 1 2 3 5 8 13

In [ ]:
#способ 2 (списковое включение)
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

print([elem for elem in a if elem in b])

[1, 1, 2, 3, 5, 8, 13]

**ЗАДАНИЕ 3**

Нужно вывести первые n строк треугольника Паскаля. В этом треугольнике на
вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух
расположенных над ним чисел.

In [ ]:
def pascal_triangle(n):
   row = [1]
   y = [0]
   for x in range(max(n, 0)):
      print(row)
      row = [left + right for left, right in zip(row + y, y + row)]

pascal_triangle(14)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]

**ЗАДАНИЕ 4**

Напишите проверку на то, является ли строка палиндромом. Палиндром — это слово
или фраза, которые одинаково читаются слева направо и справа налево.
Напишите для этого отдельную функцию.

In [ ]:
def is_palindrome(string):
    return string == ''.join(reversed(string))

print(is_palindrome('арбуз у зубра'))

True

**ЗАДАНИЕ 5**

Сделайте так, чтобы переданное программе число секунд отображалось в виде
дни:часы:минуты:секунды.

In [ ]:
def convert(seconds):
    days = seconds // (24 * 3600)
    seconds %= 24 * 3600
    hours = seconds // 3600
    seconds %= 3600
    minutes = seconds // 60
    seconds %= 60
    print(f'{days}:{hours}:{minutes}:{seconds}')

convert(2564987)

29:16:29:47

**ЗАДАНИЕ 6**

Вы принимаете от пользователя последовательность чисел, разделённых запятой.
Составьте список и кортеж с этими числами.
Используйте в решении функцию map().

In [ ]:
values = input('Введите числа через запятую: ')
ints_as_strings = values.split(',')
ints = map(int, ints_as_strings)
lst = list(ints)
tup = tuple(lst)
print('Список:', lst)
print('Кортеж:', tup)

Введите числа через запятую: 2,0,0,5
Список: [2, 0, 0, 5]
Кортеж: (2, 0, 0, 5)

**ЗАДАНИЕ 7**

Напишите программу, которая принимает имя файла и выводит его расширение. Если
расширение у файла определить невозможно, выбросите исключение.
Напишите для этого отдельную функцию.

In [11]:
a = input()
print(a[a.rfind('.') + 1:] if '.' in a else 'Попробуйте, пожалуйста, еще раз!')

rnimu.py
py

**ЗАДАНИЕ 8**

При заданном целом числе n посчитайте n + nn + nnn.
Напишите для этого отдельную функцию.

In [ ]:
def solve(n):
    n1 = n
    n2 = int(str(n) * 2)
    n3 = int(str(n) * 3)
    print(n1 + n2 + n3)

solve(15)

153045

**ЗАДАНИЕ 9**

Сложите цифры целого числа.
Напишите для этого отдельную функцию.

In [ ]:
def sum_digits(num):
    digits = [int(d) for d in str(num)]
    return sum(digits)

print(sum_digits(123456789))

45

**ЗАДАНИЕ 10**

С помощью анонимной функции извлеките из списка числа, делимые на 15.

In [ ]:
nums = [5, 15, 30, 35, 45, 50, 60]
result = list(filter(lambda x: not x % 15, nums))
print("Numbers divisible by 15 are",result)

Numbers divisible by 15 are [15, 30, 45, 60]

**ЗАДАНИЕ 11**

Нужно проверить, все ли числа в последовательности уникальны.
Напишите для этого отдельную функцию.

In [ ]:
def f(a): return len(a) == len(set(a))
print(f( [1, 25, 3, 31, 4, 5] ))

True